.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 1rem;
}
.hero-intro{
    width: 40%;
}
.hero-intro p,h3{
    text-align: center;
    color: white;
}
.hero-image-section{
    width: 35%;
}
.hero-image-section img{
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
    opacity: 0.6;
}
