.navbar{
    width: 100%;
    background-color: rgb(165, 153, 84);
    
}
.nav-ul{
    min-height: 7vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-ul li{
    list-style-type: none;
    font-size: 15px;
}